.card {
    border: 1px solid black;
    margin: 10px;
}

.allPOkemon--pokemonCardSmall {
    border: solid black 1px;
    margin: 5px
}



.allPokemon--list{
    display: grid;
  grid-template-columns: repeat(6, 1fr); 
  gap: 1rem; 
/*   display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  padding: 1%;
  margin: 0 0 2%; */
}

.allPokemon--btn {
    
}

.allPOkemon--pokemonCardSmall{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.allPokemon--img{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    transition: 0.3s;
    border-radius: 50%; 
}

.allPokemon--img:hover {
    cursor: pointer;
    margin-top: -10px;
  }