/* CSS Reset */

*, :root, html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
}
